<div class='container'>
  <div class='form1'>
    <form>
      <div class='form-header'>
        <h2>Forgot Password</h2>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-envelope"></i>
        </span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="input-group">
        <button class='btn btn-warning '>Submit</button>
      </div>
      <div class='caption'>
        <p>* Please check your email we have sent you the password change link</p>
      </div>
      <div class='footers'>
        <div class='col-sm-8'>
          <h5 [routerLink]='"../login"'>
            login here..
          </h5>
        </div>
        <div class='col-sm-4 pull-right'>
          <h5 [routerLink]='"../register"'>
            rigister here
          </h5>
        </div>
      </div>
    </form>
  </div>
</div>
